@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background:#f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}
h1, h2{
  font-weight:bold;
  letter-spacing:.1em;
  text-transform:uppercase;
}
.img-responsive{
  max-width:100%;
}
/*---Flex Stuff---*/
.flex{
  display:flex;
}
.justify-end{
  justify-content:flex-end;
}
.justify-start{
  justify-content:flex-start;
}
.justify-center{
  justify-content:center;
}
.justify-space-between{
  justify-content:space-between;
}
.justify-space-around{
  justify-content:space-around;
}
.align-end{
  align-items:flex-end;
}
.align-start{
  align-items:flex-start;
}
.align-center{
  align-items:center;
}
/*-------*/
.fill-height{
  height:100%;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.text-center{
  text-align:center;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.show-mobile{
  display:none !important;
}
.hide-mobile{
  display:block;
}
.registration-form h1, .registration-form h2{
  text-align:center;
  color:white;
}
.header-wrap{
  background-color:white;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 
  0 3px 1px -2px rgba(60,75,100,.12), 
  0 1px 5px 0 rgba(60,75,100,.2);
}
#header{
  width:100%;
  height:60px;
  display:flex;
  padding:0px 20px;
  justify-content:space-between;
  align-items: center;
}
#header .sign-out{
  color:#000;
  width:100%;
}
#header .sign-out:focus{
  outline:none;
}

.sign-out{
  background: transparent;
  color: #eee;
  cursor: pointer;
  border: 0px;
  height: 100%;
}
/*---Breadcrumbs---*/
.breadcrumbs{
  padding:10px 20px;
  border-top: 1px solid #dedede;
  font-size:13px;
  list-style: none;
  display: flex;
  align-items: center;
  margin:0px;
}
.breadcrumbs a{
  text-decoration:none;
  margin-right:5px
}
/*--------*/
/*---Sidebar---*/
#sidebar{
  min-height: 60px;
  color: #eee;
  max-width: 250px;
  min-width: 60px;
  width:100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  transition: all 0.25s ease;
  z-index:9;
}
#sidebar *{
  transition: all 0.25s ease;
}
.logo{
  font-weight:bold;
  font-size:1.5em;
  width:100%;
  max-width:40px;
}

.sidebar-head{
  padding: 5px 15px;
  height: 60px;
  background-color: #2b3d5a;
  box-shadow: 0 3px 2px 0 rgb(0 0 0 / 14%), 
  0 3px 1px -2px rgb(0 0 0 / 12%), 
  0 3px 0px 0 rgb(0 0 0 / 20%);
}
.sidebar-body{
  padding:20px 0px;
  box-shadow: 3px 0px 1px 0px rgba(60,75,100,.14), 
  3px 0px 3px -1px rgba(60,75,100,.12), 
  3px 1px 4px 0px rgba(60,75,100,.2);
  background: linear-gradient( rgba(43, 61, 90, 0.65),
   rgba(43, 61, 90, 0.65) ),
    url(../Images/circuitry.jpg);
  background-size:cover;
  background-position:center center;
  z-index:2;
  transition: all 0.25s ease;
}
.collapse-sidebar{
  cursor: pointer;
  position: absolute;
  right: 0px;
  font-size: 15px;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 20px;
}
#sidebar:hover .collapse-sidebar{
  right:-20px;
  z-index:0;
}
.collapse-sidebar span{
  background-color: #263245;
  padding: 20px 7px 20px 4px;
  border-radius: 0% 50% 50% 0%;
  font-size: 15px;
  top: 50%;
  position: absolute;
}
.collapse-sidebar span::after{
  content:'\f053';
  font-family: "Font Awesome 5 Free"; font-weight: 900;
}

.collapse .collapse-sidebar span::after{
  content:'\f054';
}

.collapse-sidebar span:last-child{
  margin-bottom:0px;
}
.sidebar-icon{
  margin-right:10px;
}
.sidebar-name{
  visibility:visible;
  opacity:1;
}
.sidebar-nav{
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.sidebar-nav li{
  display:block;
  margin:0px;
}

.sidebar-nav a{
  color:#eee !important;
  text-decoration:none;
  padding:15px;
  display:block;
}

.sidebar-nav a:hover, .sidebar-nav a.is-active{
  background-color:	hsl(0, 0%, 95%, 15%);
}
.collapse #sidebar {
  max-width: 75px;
  min-width: 60px;
  transition: all 0.25s ease;
}
.collapse #sidebar .sidebar-icon {
  font-size: 30px;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.collapse #sidebar .sidebar-name {
  opacity:0;
  visibility:hidden;
  font-size:0px
}
@media only screen and (max-width: 991px) {
  #header .user-actions .user-icon{
    margin:0px;
  }
  #header .user-actions .user-name{
    width:0px;
    height:0px; 
    visibility:hidden;
  }
  #header .user-actions .user-dropdown{
    display:none;
  }
}
@media only screen and (max-width: 767px) {
  .show-mobile{
    display:block !important;
  }
  .hide-mobile{
    display:none !important;
  }
  #sidebar, .collapse #sidebar{
    width: 100%;
    max-width:100%;
    min-width:60px;
    max-height: 60px;
    min-height:60px;
    display: flex;
    flex-direction:row;
    position: fixed;
    bottom: 0px;
  }
  .sidebar-head{
    max-width:75px;
    box-shadow:none;
  }
  .sidebar-body{
    width: 100%;
    height: 60px;
    flex-direction: row;
    display: flex;
    padding: 0px;
    min-height:60px;
    box-shadow:none;
  }
  .collapse-sidebar{
    display:none;
  }
  .sidebar-nav{
    display: flex;
    height: 100%;
  }
  .sidebar-nav li{
    height: 100%;
  }
  .sidebar-nav a{
    padding:0px 15px;
    height:100%;
    display:flex;
    align-items:center;
  }
}
/*------*/
/*---Body Section---*/
.flex-contain{
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.body-section{
  width: 100%;
  text-align: left;
  min-height: 100vh;
  box-sizing: border-box;
  background-color:#f0f0f0;
  color:#000;
}
.body-section h1{
  text-align:left;
  color: #2b3d5a;
  margin:0px;
}

.body-content{
  padding:20px;
  transition: all 0.25s ease;
}

.body-section h2{
  color:#000;
  margin:0px;
  margin-bottom:20px;
  text-align:left;
}

@media only screen and (max-width: 767px) {
  .flex-contain{
    flex-direction:column;
  }
}
/*-------*/
/*---Forms---*/
.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}
.registration-form{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:100vh;
  background:linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)
  ), url(../Images/earth-space.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  background-color: #4caf50;
  padding: 15px;
  color: white;
  text-align:center;
  margin-bottom:10px;
}
.error-message {
  background-color: #b44d4d;
  padding: 15px;
  color: white;
  text-align:center;
  margin-bottom:10px
}

.form-field {
  padding: 15px;
  font-size: 16px;
  border: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.08), 0 3px 1px -2px rgba(60,75,100,.05), 0 1px 5px 0 rgba(60,75,100,.1);
  transition: all 0.25s ease;
}
.form-field:focus{
  outline:none;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
}

.error-span {
  font-size: 14px;
  color: red;
  margin-top:10px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}
/*---Floating Text---*/
.floating-text{
  margin:15px 0px;
  text-align:center;
  color:white;
  font-weight:300;
}
.floating-text a{
  color:white;
  text-decoration:none;
  display:inline-block;
}
.floating-text a:after{
  content:'';
  display:block;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  margin-top: 3px;
}
.floating-text a:hover:after{
  transform: scaleX(1);
}
/*--------*/
/*---Responsive Table---*/
.responsive-table {
  margin-bottom: 15px;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
  box-shadow:none;
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.responsive-table thead th {
  color: #666B85;
  background: #f2f2f2;
  border-bottom: 3px solid #e1e1e5;
  border-right: 1px solid #e1e1e5;
  font-size: 18px;
  font-weight: 100;
  padding: 10px 20px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  white-space: nowrap;
}
.responsive-table th:first-child {
  border-top-left-radius:3px;
  text-align: left;
}
 
.responsive-table th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.responsive-table tbody tr {
  margin-bottom: 1em;
  background-color:white;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
}
.responsive-table tr:first-child {
  border-top:none;
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
.responsive-table tbody td[data-scope="row"] {
  color: #666B85;
  background-color:#f2f2f2;
  border-bottom: 1px solid #e1e1e5;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
  font-weight:bold;
}
.responsive-table tbody td {
  text-align: right;
  border:0px;
  overflow:hidden;
}
.responsive-table tbody td.no-results{
  text-align:center !important;
}

@media (min-width: 768px) {
  .responsive-table {
    font-size: .9em;
    box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
  }
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .responsive-table tr {
    display: table-row;
    border-top: 1px solid #e1e1e5;
    border-bottom: 1px solid #e1e1e5;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgb(255 255 255 / 1%);
  }
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
  .responsive-table caption {
    font-size: 1.5em;
  }
  .responsive-table tbody {
    display: table-row-group;
  }
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
    box-shadow: none;
    transition: all 0.25s ease;
  }
  .responsive-table tr:last-child {
    border-bottom:none;
  }
  .responsive-table tr:nth-child(odd)  {
    background:#fff;
  }
  .responsive-table tr:nth-child(even)  {
    background:#f2f2f2;
  }
  .responsive-table tr:hover  {
    background:#d7d9e5;
  }
  .responsive-table tbody td[data-scope="row"] {
    text-align: left;
    background-color:transparent;
    color:#666B85;
    border-bottom:0px;
  }
  .responsive-table tbody td {
    text-align: center;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e1e1e5;
    white-space: nowrap;
  }
  .responsive-table tbody td[data-title]:before {
    content: none;
  }

  .responsive-table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .responsive-table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
  .responsive-table td:last-child {
    border-right: 0px;
  }
}

/*--Password Strength--*/
.ReactPasswordStrength{
  border:0px !important;
  font-size:16px !important;
  background: #f2f2f2;
  padding:0px;
}

.ReactPasswordStrength-input{
  font-family:Arial !important;
  font-size:16px !important;
}

.ReactPasswordStrength-strength-desc {
  display: flex;
  height: 100%;
  flex-grow: 0;
  text-align: right;
  flex-shrink: 0;
  align-content: unset;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px 12px !important;
}

.section{
  padding:20px;
  width:100%;
  margin-bottom:20px;
  background-color:white;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
}
.table-section{
  padding:20px;
  width:100%;
  margin-bottom:20px;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
}

/*--Contact Table---*/
.flex .form-field + .btn{
  margin-left:15px;
}
.contacts-form .form-field{
  width:100%;
}

.contacts-form button.form-field{
  max-width:80px;
}
.contacts-form .form-field + .form-field{
  margin-left:15px;
}

.contacts-form input[type="number"]::-webkit-outer-spin-button,.contacts-form input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.contacts-form input[type="number"]{
  -moz-appearance: textfield;
}
.contacts-wrapper td{
  position:relative;
}
.contacts-wrapper tr .action-buttons{
  position: absolute;
  right: -100px;
  bottom: 0;
  transform: translateY(calc(-50% + 9px));
  transition: all 0.25s ease;
}
.contacts-wrapper tr:hover .action-buttons{
  right: 10px;
  display:flex;
}
.contacts-input{
  margin-bottom:15px;
}
.contacts-input .search-icon{
  height: 100%;
  display: block;
  padding: 13px;
  font-size: 18px;
  background-color: #f2f2f2;
  color: #2b3d5a;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.08), 
  0 3px 1px -2px rgba(60,75,100,.05), 
  0 1px 5px 0 rgba(60,75,100,.1);
}
.contacts-input .form-field{
  background-color:white;
  opacity:.4;
}
.contacts-input .form-field:focus{
  opacity:1;
}
@media (max-width:768px){
  .contacts-wrapper tr .action-buttons{
    position: relative;
    right: 0;
    transform: none;
  }

  .contacts-wrapper tr:hover .action-buttons{
    position: relative;
    right: unset;
    transform: none;
  }
  .responsive-table tbody td[data-scope="row"]{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }
}
/*---User Item---*/
.user-actions{
  position:relative;
  text-align:center;
  cursor: pointer;
}
.user-icon{
  font-size: 22px;
  text-align: center;
  border: 2px solid #2b3d5a;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  color:#2b3d5a;
}

.user-dropdown{
  background-color: white;
  position: absolute;
  border: 1px solid #dedede;
  padding: 10px;
  align-self: flex-end;
  top: 60px;
  opacity:0;
  visibility:hidden;
  transition: all 0.25s ease;
  width:100%;
}
.user-actions:hover .user-dropdown{
  opacity:1;
  visibility:visible;
}
/*---Buttons---*/
.modal-btn-wrap{
  width:100%;
}
.btn-primary {
  background: #2b3d5a;
  color: white;
  padding: 15px;
  font-size: 16px;
}
.btn-primary.light{
  background:#4c6997;
}
.btn-secondary {
  background: #f2f2f2;
  color: #000;
  padding: 15px;
  font-size: 16px;
}

.btn-full{
  width:100%
}
.btn{
  cursor:pointer;
  border: 0;
  white-space: nowrap;
  transition: all 0.25s ease;
}

.justify-end .btn + .btn{
  margin-left:15px;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn:focus{
  outline:none;
}
.btn:active{
  outline:none;
  box-shadow:inset 0px -5px 10px 0px rgba(0,0,0,.45);
}
.btn.light:active{
  box-shadow:inset 0px -5px 10px 0px rgba(0,0,0,.25);
}
.action-btn{
  border: 0px;
  padding: 5px 10px;
  min-width:35px;
  text-align:center;
  margin:0 2.5px;
  color:white;
  border-bottom: 3px solid;
}
.action-btn.delete-btn{
  background-color:#ce6c6c;
  border-color:#a36d6d;
} 
.action-btn.edit-btn{
  background-color:#adbbd1;
  border-color:#8a98af;
}
.btn-dialog-close{
  background-color:transparent;
  border:0px;
  padding:10px;
  color:#000;
  font-size:20px;
}

.btn-dialog-close:focus{
  box-shadow:none;
}

/*----Dashboard Widgets----*/

.widget-section{
  padding:15px;
}
.widget-value{
  font-size: 45px;
}
.widget-title{
  padding: 15px;
  padding-bottom: 0px;
}

.widget-footer{
  margin: 0 -15px;
  margin-top:20px;
  border-top: 1px solid #dedede;
}

/*----Confirm Alerts----*/
.react-confirm-alert-body h1{
  font-family:inherit !important;
  font-size:1.5em !important;
}
.react-confirm-alert-body{
  text-align:center !important;
}

.react-confirm-alert-button-group{
  justify-content:center !important;
}
.react-confirm-alert-button-group button{
  min-width:35px;
  text-align:center;
  margin:0 2.5px;
  color:white !important;
  border-bottom: 3px solid !important;
  font-size: 14px !important;
}

.react-confirm-alert-button-group button:first-child{
  background-color:#ce6c6c;
  border-color:#a36d6d !important;
} 
.react-confirm-alert-button-group button:last-child{
  background-color:#adbbd1;
  border-color:#8a98af !important;
}

.react-confirm-alert-button-group button:active{
  box-shadow:inset 0px -5px 10px 0px rgba(0,0,0,.15) !important;
} 

.react-confirm-alert-overlay{
  background: rgba(0, 0, 0, 0.5) !important;
}

.react-confirm-alert-body{
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 
  0px 24px 38px 3px rgba(0,0,0,0.14), 
  0px 9px 46px 8px rgba(0,0,0,0.12) !important;
  border-radius: 3px !important;
}